.explore-div{
    height: 66vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.explore-heading{
    font-size: 2.6rem;
}

.cards{
    width: 80%;
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card{
    width: 24%;
    border: 1px solid rgb(229, 227, 227);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card:hover{
    transform: translateY(-10px);
    transition: .3s;
    border-color: #467CF6;
}

.icon-wrapper{
    background: linear-gradient(90deg, #467CF6, #7A64F6);
    border-radius: 10px;
    width: 60px;
}

.icon-wrapper img{
   width: 60px;
   padding: 14px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content h3{
    font-size: 1.7rem;
}

.content p{
    color: #4B5563;
    font-size: 1.2rem;
    line-height: 25px;
}

.category{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.category span{
    border: 1px solid rgb(229, 227, 227);
    padding: 7px 8px;
    border-radius: 5px;
    font-weight: 550;
    color: #4B5563;
}

