.InfoPane-div{
    width: 23%;
    border-left: 1px solid rgb(229, 227, 227);
    height: 90vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pseudocode-div h2, .complexity-div h2{
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 10px;
    font-size: 16px;
}

.pseudocode-div h2 img , .complexity-div h2 img{
    width: 20px;
}

.pseudocode-div pre{
    padding: 10px 35px;
    font-size: 14px;
    color: #636363;
    letter-spacing: 1px;
    line-height: 20px;
    overflow-x: scroll;
}

.complexity-div{
    margin-bottom: 30px;
    margin-top: 10px;
}

.complexity-div ul{
    background-color: #EEF0FE;
    margin: 10px 30px;
    list-style: none;
    border-radius: 10px;
    padding: 20px 15px;
}

.complexity-div ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgb(229, 227, 227);
    color: #3B82F6;
    font-size: 14px;
    font-weight: bold;
}

.complexity-div ul li b{
    color: #636363;
    font-size: 13px;
    font-weight: 550;
}
