.select-algo-div{
    padding: 20px 25px;
    width: 16%;
    height: 100vh;
    border-right: 1px solid rgb(229, 227, 227);
}

.select-algo-div h2{
    color: #9FA3AF;
    margin-bottom: 30px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.select-algo-div h3 div{
    font-size: 16px;
    padding: 20px 0px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.select-algo-div h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-algo-div h3 img{
    width: 15px;
}

.select-algo-div h3 div img{
    width: 25px;
}

.select-algo-div h4{
    margin-left: 30px;
    font-size: 14px;
    background-color: #E2ECFE;
    color: #3B82F6;
    border-radius: 5px;
    padding: 12px 18px;
    margin-bottom: 2px;
}
